{% extends 'base.html' %}

{% load static %}

{% block title %}StudentPeeps >> Whole Truth Food{% endblock %}

{% block linkshead %}

<link rel="stylesheet" href="{% static 'css/getcode.css' %}">
<style>
    .prdouctimg {
        background-image: radial-gradient(circle, #818991, #90939e, #a19daa, #b3a6b3, #c6b0ba, #bea6ac, #b59c9f, #ac9392, #897472, #685653, #483936, #2b1f1c);
    }
</style>

{% endblock %}

{% block body %}

<div class="prdouctimg">
    <img class="final" src="{% static 'images/wtf.png' %}" alt="">
</div>
<center>
    <div class="complete">
        <div class="brandlogo">
            <img class="final" src="{% static 'images/wtf.jpg' %}" alt="">
        </div>

        <div class="content">
            <h1>15% Student Discount</h1>
            <p>at avni By GIVA</p>
        </div>
        <div class="button d-grid gap-2 col-6 mx-auto">
            <a class="btn btn-primary" href="/student-discount-whole-truth-food">Get Code</a>
        </div>
        <hr>
        <div class="contenttext">
            <h4>About this student discount</h4>
            <p> 1. It’s applicable sitewide on thewholetruthfoods.com, no Minimum Order Value.<br>
                2. Discount Amount: 25% off, valid 3 times per user.<br>
                3. Coupon Validity: 3 months.<br>
                4. It cannot be clubbed with any other coupon/voucher,<br>
                5. For coupon code issues, please reach out to orders@thewholetruthfoods.com.<br>
                6. Order will be delivered within 3-7 working days. Your order may face a slight delay, due to the restrictions in logistics in certain parts of the country.</p>
        </div>
    </div>
</center>


{% endblock %}


    
